.profilesdiv {
    height: 80%;
    background: rgba(0, 0, 0, 0);
}

.frame {
    border-radius: 10px;
    width: calc(50% - 10px);
    height: 100%;
}

.bgcolour {
    background-color: black;
}

.profiletext {
    color: white;
}